@import url('https://fonts.googleapis.com/css?family=Oswald:200,400|Roboto+Slab:100');

*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	color: #fff;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 16px; /*1em=16px*/
	letter-spacing: 1px;
	line-height: 1.5;
}
section {
	padding:5em 0;
}

#wrapper {
	max-width: 100%;
	margin: auto;
}

#splash {
	background-image: url(../images/notebook.png);
	background-repeat: no-repeat;
	background-size:cover;
	padding: 0;
}
#splash > div {
	background: rgba(5, 58, 66, 0.45);
	padding: 5em 0 0;
	height: 95vh;
	width: 100%;
	text-align: center;
}
#splash p {
	margin:1em auto;
	width:32em;
}
p {
	margin-top:1em;
}

#slogan{
	margin-top: .5em;
	margin-bottom: .5em;
}

h1,
h2,
h3,
nav {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 3em;
	letter-spacing: 2px;
	font-weight: bold;
}

h2 {
	font-size: 2.25em;
	text-align: center;
}

h3{
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
}

nav {
	text-transform: uppercase;
	border-bottom: 1px;
	width: 100%;
	text-align: center;
	padding: 1em;
	font-size: 1.2em;
}

a {
	color: rgb(19,224,255);
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}
#mobile{
	display: none;
}

#about{
	background-color: rgb(5,58,66);
	height: 35em;
}
#portfolio{
	background-color: rgba(5,58,66,.75);
}
#services{
	background-color: rgba(5,58,66,.5);
	padding-bottom: 30em;
}
footer{
	background-color: rgba(5,58,66,.5);
	text-align: center;
	font-size: .75em;
	padding-top: 15em;
}
aside{
	float: left;
	width: 20em;
	margin-left: 5em;
	margin-bottom: 2em;
}
.bar{
	padding: 1em;
}
ul {
    list-style-type: none;
}
.project{
	float: left;
	padding: 1em 2em;
	margin: 2em;
	width: 28%;
	height: 500px;
	background-color: rgba(5,58,66,.7);
}
/*#photography {*/
	/*clear: both;*/
}
.photo{
	width: 20%;
	float: left;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.activities {
	/*display: block;*/
	float: left;
	text-align: center;
	margin: 3em 1.5em 3em 10em;
}
.icon{
	width: 80%;
}
#strategy{
	margin-top: 4.5em;
}
.caption{
	width: 50%;
	padding: .75em;
	margin-bottom: 2em;
}

#portrait{
	max-width: 100%;
}

#about p{
	float: left;
	width: 30em;
	margin-left: 5.5%;
}

#about h2{
	text-align: center;
}

.project p{
	padding: 1em;
}
@media screen and (max-width: 1435px){
	#splash > div {
		padding-top: 1em;
		height: 50vh;
		width: auto;
	}	
}
@media screen and (max-width: 1199px){
	
	#splash > div {
		padding-top: 1em;
		height: 50vh;
		width: auto;
	}
	#about p{
		float: left;
		width: 30em;
		margin-left: auto;
}
	.project{
		float: none;
		padding-top: 1.5em;
		margin: 1em 1em 1em 2em;
		width: 95%;
		height: auto;
}
	.caption{
		width: 20%;
		padding: .75em;
		margin-left: 10em;
}
}

@media screen and (max-width: 1055px){
	#splash > div {
		padding-top: 1em;
		height: 50vh;
		width: auto;
}
	#services{
		padding-bottom: 5em;
}
	#services h2{
		padding-bottom: 1em;
}
	.activities {
		/*display: block;*/
		float: none;
		margin: auto;
}
	.icon{
		width: 30%;
}
}
@media screen and (max-width: 932px){
	
	section {
		padding:auto;
		width: 100%;
	}
	#wrapper {
		max-width: 100%;
}
	#splash > div {
		padding-top: 1em;
		height: 50vh;
		width: auto;
}
	#splash p {
		font-size: 1em;
	}
	#about{
		height: 50em;
		text-align: center;
		padding-bottom: 2em;
}
	#about h2{
		padding-bottom: 1em;
	}
	aside{
		float: none;
		margin: auto;
}
	#about p{
		float: none;
		text-align: center;
		margin: 1em auto;
}
#portfolio{
	margin-top: auto;
}
	.project{
		float: none;
		padding: 1.5em 1em 1em 1em;
		margin: 2em auto;
		width: 80%;
	}
	.caption{
		width: 25%;
		padding: .75em;
		margin-left: 7em;
}
}
@media screen and (max-width: 600px){
	#mobile{
		display: inline;
	}
	a{
		float: none;
		width:auto;
		display: none;
	}
	#splash p {
    		margin: auto;
    		width: auto;
}
}
