

body { 
	text-align: left;
	color: #000; 
	font-family: "Oswald", Arial, sans-serif;	

}

#splash {
	background: url(../images/hiking_patagonia.png);
	background-size: cover;
	width: 80%;
}
#homepage {
	margin-right: -550px;
	margin-top: 100px;
}

aside {
	width: 20%;
	float: left;
	margin-top: -300px;
}


nav {
	text-decoration: none;
	text-transform: uppercase;
	font-variant: small-caps;
}	

a {
	color: rgb(19,224,255);
}

.bar { 
	font-size: 30px;
	padding: 10px;
	 } 

hr{
	vertical-align: left;
}


#contact {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
  text-decoration: none;
}


