body { 
	text-align: center;
	background: url(/images/patagonia_dogs.png);
	background-size: cover;
	color:	#000; 
	font-family: oswald;

}

aside {
	width: 20%;
}

.bar { 
	font-size: 30px;
	padding: 10px;
	 }

nav {
	text-decoration: none;
	text-transform: uppercase;
}	 

hr{
	width: 500px
}