@import url('https://fonts.googleapis.com/css?family=Oswald:300');

*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	color: #fff;
	font-family: Georgia, sans-serif;
	font-size: 16px; /*1em=16px*/
	letter-spacing: 1px;
	font-weight: 300;
	line-height: 1.5;
}
section {
	padding:5em 0;
}
#Homepage {
	background-image: url(../images/notebook.png);
	background-repeat: no-repeat;
	background-size:cover;
	padding: 0;
}
#Homepage > div {
	background: rgba(5, 58, 66, 0.45);
	padding: 10em 0 0;
	height: 90vh;
	width: 100%;
	text-align: center;
}
#Homepage p {
	margin:1em auto;
	width:32em;
}
p {
	margin-top:1em;
}

#slogan{
	margin-top: 1em;
	margin-bottom: .5em;
}

h1,
h2,
h3,
nav {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 3em;
	letter-spacing: 2px;
}

h2 {
	font-size: 2.25em;
}

h3{
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
}

nav {
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px;
	width: 100%;
	float: left;
}

a {
	color: rgb(19,224,255);
}
#contact {
	color:#333;
}
#About{
	background-color: rgb(5,58,66);
}
#Portfolio{
	background-color: rgba(5,58,66,.75);
}
#Services{
	background-color: rgba(5,58,66,.5);
}


ul {
    list-style-type: none;
}
.wrapper {
	max-width: 40em;
	margin:auto;
}
